<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Development Assignments!</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>Web Development Assignments</h1>

    <nav>
        <a href="#">Home</a>
        <a href="#">Page 1</a>
        <a href="#">Page 2</a>
    </nav>

</header>


<main>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas sed necessitatibus architecto recusandae,
        natus incidunt soluta quia nesciunt voluptates! Similique molestiae a magnam, tempora nulla repudiandae incidunt
        doloremque nemo quod?</p>
    <p>Esse recusandae harum quibusdam sed aliquam? Quis a fuga dolor pariatur ducimus aliquam reiciendis quasi, atque,
        officiis magni commodi totam? Distinctio incidunt laboriosam eos. Voluptas vel laudantium consectetur iure
        vitae.</p>
    <p>Sint pariatur illo, incidunt aliquid dicta quo ad laudantium repellendus illum, numquam tempora perferendis
        necessitatibus eligendi nihil, dolorum facere cupiditate rerum libero iste nemo beatae ipsum neque unde.
        Tempora, quo!</p>
    <p>Ipsa a nobis incidunt, dolor recusandae autem quis quas, voluptatibus, dolorum adipisci itaque sunt ratione.
        Distinctio doloremque ratione iure error eos et! Exercitationem optio deserunt corporis quos sequi, quaerat
        atque.</p>

</main>
</body>
</html>