body {
    background-color: ivory;
    color: rgb(57, 63, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    text-align: center;
}

nav a {
    margin-left: 15px;
    background: burlywood;
    color: rgb(79, 79, 43);
    padding: 10px 20px;
    border: 2px solid rgb(109, 102, 40);
    border-radius: 15px;
    text-decoration: none;
}

nav div {
    background: rgb(241, 218, 188);
    color: rgb(79, 79, 43);
    padding: 25px 20px;
    border: 2px solid rgb(109, 102, 40);
    border-radius: 15px;
    text-decoration: none;
}

h1, h2 {
    color: rgb(50, 43, 13);
    text-align: center;
}

img {
    width: 50%;
    display: block;
    margin: 10px auto;
}