:root {
    --dark_primary: #00796b;
    --light_primary: #b2dfdb;
    --primary_color: #009688;
    --light_text: #ffffff;
    --accent_color: #ffeb3b;
    --primary_text: #212121;
    --secondary_text: #b0b3a5;
    --divider: #e5e6e2;
    --main_text: "Roboto", sans-serif;
    --header_text: "Indie Flower", cursive;
}

body {
    background-color: var(--light_primary);
    color: var(--primary_text);
    font-family: var(--main_text);
}

header,
footer {
    background-color: var(--dark_primary);
    text-align: center;
    color: var(--accent_color);
    padding: 20px;
    font-family: var(--header_text);
}

h1 {
    color: var(--accent_color);
}

.container {
    width: 80%;
    background: var(--divider);
    border: 2px solid var(--primary_color);
    margin: 20px auto;
    padding: 0px;
}

a {
    text-decoration: none;
    color: var(--dark_primary);
    font-weight: bold;
    margin: 20px 50px;
}

a:hover {
    color: var(--primary_color);
    text-decoration: underline;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}