body{
    background: rgb(199, 199, 128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {

    color: rgb(30, 172, 124);
    list-style: circle;
}

ol {
    color:rgb(198, 33, 33);
    list-style: upper-roman;
}

li {
    font-weight: bold;
}

dd, dt {
    font-family: 'Courier New', Courier, monospace;
}

dd {
    color: blue;
}

dt {
    color: blueviolet;
}

img {
    width: 600px;
}