/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --dark_primary: #00796b;
    --light_primary: #b2dfdb;
    --primary_color: #009688;
    --light_text: #ffffff;
    --accent_color: #ffeb3b;
    --primary_text: #212121;
    --secondary_text: #b0b3a5;
    --divider: #e5e6e2;
    --main_text: "Roboto", sans-serif;
    --header_text: "Indie Flower", cursive;
}

body {
    background-color: var(--light_primary);
    color: var(--primary_text);
    font-family: var(--main_text);
}

header,
footer {
    background-color: var(--dark_primary);
    text-align: center;
    color: var(--accent_color);
    padding: 20px;
    font-family: var(--header_text);
}

h1 {
    color: var(--accent_color);
    font-size: 30px;
}

.container {
    width: 80%;
    background: var(--divider);
    border: 2px solid var(--primary_color);
    margin: 20px auto;
    padding: 0px;
}

a {
    text-decoration: none;
    color: var(--dark_primary);
    font-weight: bold;
    margin: 20px 50px;
}

a:hover {
    color: var(--primary_color);
    text-decoration: underline;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}