body {
    background-color: bisque
}

h1 {
    text-align: center;
}
ol li {
    list-style-type: upper-roman;
}
ul {
    list-style-type: lower-greek;
}
dt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}
dd {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: rgb(105, 66, 34);
}