body {
    background-color: rgb(54, 54, 54);
    font-size: larger;
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    text-align: center;
}
nav a {
    font-size: larger;
    padding: 10px 20px;
    background-color: rgb(83, 86, 90);
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid rgb(83, 86, 90);
}

nav a .top{
    text-decoration: none;
    background-color: darkslateblue;
    border: 2px solid darkslateblue;
    padding: 10px 20px;
    margin-left: 15ps;
    color: azure;
    border-radius: 20px;
}

div {
    min-height: 250px;
}

nav a:hover,
.top:hover {
    color: darkslateblue;
    background: azure;
}

a:hover {
    color: azure;
    text-decoration: underline;
}

h1,
h2 {
    text-align: center;
    color: azure;
}

h2 {
    background-color: rgb(83, 86, 90);
    border-radius: 20px;
    border: 2px solid rgb(83, 86, 90);
}

a {
    color: blue;
    text-decoration: none;
}