body {
    background: black;
    color: bisque;
}

h1,
h2 {
    font-size: x-large;
    text-align: center;
}

iframe {
    display: block;
    width: 560px;
    height: 315px;
    margin: 20px auto;
}